.control-label {
  padding-bottom: 25px;
}

.add_form {
  height: 100px;
  width: 390px;
  margin: 20px 0;
}

.log-in{
  width: 300px;
}

.user-new {
  position: relative;
  left: 500px;
  top: 100px;
}

.user-show {
  position: relative;
  left: 500px;
  top: 100px;
}

.navbar-nav{
  color: white;
}

body {padding-right:0px !important;overflow-y:hidden !important;}
